@font-face {
  font-family: 'Matrix Code NFI';
  src: url('../fonts/matrix code nfi.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
	background: #000000;
	color: #00FF41;
	font-family: 'Matrix Code NFI', sans-serif;
	text-shadow: 0 0 3px #00FF41,0 0 5px #00FF41,0 0 5px #00FF41;
	blur(0.02rem)
}
